@import '../variables';

.assignmentsPage {
  background: $white;
  border-radius: 12px;
  box-shadow: $card-shadow;
  border: 1px solid $border-color;
  padding: 32px;
}

.assignmentsTable {
  width: 100%;
  border-collapse: collapse;
  th, td {
    padding: 12px 16px;
    border-bottom: 1px solid $border-color;
    text-align: left;
    font-size: 14px;
  }
  th {
    color: $text-secondary;
    font-weight: 600;
    background: $light-bg;
  }
} 